<h1>Pirates</h1>

<%= @pirate[:name]%><br>
<%= @pirate[:height]%><br>
<%= @pirate[:weight]%><br>


<h1>Ships</h1>

<% @pirate[:ships].each do |ship|%>
<%= ship[:name]%><br>
<%= ship[:type]%><br>
<%= ship[:booty]%><br>
<%end%>
